/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

/* Movie Container */
.movie-container {
    margin: 50px auto;
    width: 300px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.movie-poster {
    width: 100%;
    border-radius: 8px;
}

.movie-title {
    font-size: 24px;
    margin: 15px 0;
}

.movie-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.watch-now-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.watch-now-btn:hover {
    background-color: #45a049;
}

/* Video Pop-up */
.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.video-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    height: 500px;
}

.video-container video {
    width: 500px;
    height: auto;
    border-radius: 8px;
}

.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background: #e74c3c;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.close-popup-btn:hover {
    background: #c0392b;
}

/* Hidden Class */
.hidden {
    display: none;
}
